


body{
    width: 100vw;
    height: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;  
    background: rgb(198,209,221);
    
}

div.wrapper {
    max-width: 1000px;
}

nav{

    width: 1010px;
    height: 100px;
    background: rgb(187, 38, 73);
   grid-column: 1/3;
   grid-row: 1/2;
   display: flex;
   justify-content: space-evenly;
   flex-direction: center;
   align-items: center;
   padding: 10px;
   position: fixed;
   
}



div.wrapper nav section.hem p{
    font-size: xxx-large;
    display: contents;
    flex-direction: center;
    align-items: center;

}

div.wrapper nav section.insperation p{
    font-size: xx-large;
    display: contents;
    flex-direction: center;
    align-items: center;
}


div.wrapper nav section.kontakt p{
    font-size: xx-large;
    display: contents;
    flex-direction: center;
    align-items: center;
}

div.wrapper nav section.hem a{
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

div.wrapper nav section.insperation a{
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

div.wrapper nav section.kontakt a{
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}

div.wrapper main.insperation section.splide{

    margin-top: 100px;
   
    
}

div.wrapper main.contact{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


